<form action="" method="post">
  <input type="hidden" name="id" value="<%= user.id %>" />
  <div>
    <p>Bạn có chắc chắn muốn xoá không ?</p>
    <p><%= user.email %></p>
  </div>
  <div>
    <button>Confirm</button>
  </div>
</form>
