<h1>Trang chủ</h1>
<ul class="d-flex gap-2 list-unstyled mt-3 align-items-center">
  <li>Chào Bạn: <b><%= req.user.name %></b></li>
  <li><a href="/auth/logout" class="btn btn-primary">Đăng xuất</a></li>
</ul>
