@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
}
input,
select,
textarea,
button {
    font-size: inherit;
}
.root {
    width: 700px;
    margin: 50px auto 0;
}
.h1 {
    color: black;
}
.hightlight {
    color: transparent;
    background: linear-gradient(to right, #03d190, #116ee0);
    -webkit-background-clip: text;
    background-clip: text;
}

.form-group {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 30px;
}
.form-group label {
    position: relative;
    outline: none;
    display: flex;
    flex: 1;
    border-radius: 5px;
}
.form-group label i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: rgb(29, 78, 216);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.form-group label input {
    display: inline-block;
    width: 100%;
    padding: 20px 15px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
}
.form-group button {
    color: #fff;
    background-color: rgb(4, 120, 87);
    border: none;
    outline: none;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0;
    visibility: hidden; */
    transition-property: opacity, visibility;
    transition: 0.3s ease;
}
/* .modal.show {
    opacity: 1;
    visibility: visible;
} */
.modal-overlay {
    background-color: rgba(55, 65, 81, 0.6);
    position: fixed;
    inset: 0;
}
.modal-body {
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
    z-index: 999;
}
.modal-body .modal-input {
    padding: 20px;
    border-bottom: 1px solid gray;
}
.modal-body .modal-input input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid gray;
    border-radius: 7px;
}
.modal-body .modal-cta {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.modal-cta button:nth-child(1) {
    padding: 11px;
    background-color: rgb(4, 120, 87);
    outline: none;
    border: 1px solid gray;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.modal-cta button:nth-child(2) {
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.completed {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
    margin-top: 25px;
    text-align: center;
    color: #fff;
    padding: 15px 5px;
    border-radius: 8px;
    width: 200px;
    /* background-color: rgb(4, 120, 87); */
    background-color: rgb(156, 163, 175);
    transition: background-color 0.3s linear;
    cursor: pointer;
}
/* .completed:hover {
    background-color: rgb(99, 102, 108);
} */
.completed .arrow-right {
    transition-property: rotate;
    transition: 0.3s ease;
}
.completed .arrow-right path {
    fill: #fff;
}
.rotate {
    transform: rotate(90deg);
}
.focus {
    background-color: rgb(4, 120, 87);
}
.todos {
    margin-top: 20px;
}
.todo-item {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px 10px;
}

.todo-icon {
    display: flex;
    column-gap: 30px;
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.todo-icon .trash {
    background-color: rgb(190, 18, 60);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.todo-icon .edit {
    background-color: rgb(29, 78, 216);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.todo-icon .todo-completed {
    background-color: rgb(156, 163, 175);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
}
.icon-completed {
    background-color: #03d190 !important;
}
