<h1>Thay đổi mật khẩu</h1>
<% if (changeFaied?.length) { %>
<div class="alert alert-danger mt-2"><%=changeFaied %></div>
<% } %>
<form class="mb-4" method="post" action="">
  <div class="mb-4">
    <label for="email" class="mb-2">Mật khẩu cũ</label>
    <input
      type="password"
      name="oldPassword"
      id="email"
      class="form-control"
      placeholder="Your Email..."
    />
    <span class="mt-2 text-danger"><%= req?.errors?.oldPassword %></span>
  </div>
  <div class="mb-4">
    <label for="password">Mật khẩu mới</label>
    <input
      type="password"
      name="newPassword"
      id="password"
      class="form-control"
      placeholder="Your Password..."
    />
    <span class="mt-2 text-danger"><%= req?.errors?.newPassword %></span>
  </div>
  <div class="mb-4">
    <label for="password">Xác nhận mật khẩu mới</label>
    <input
      type="password"
      name="confirmNewPassword"
      id="password"
      class="form-control"
      placeholder="Your Password..."
    />
    <span class="mt-2 text-danger"><%= req?.errors?.confirmNewPassword %></span>
  </div>
  <button class="btn btn-primary">Thay đổi mật khẩu</button>
  <a href="/" class="btn btn-secondary">Huỷ</a>
</form>
