<div class="w-50 mx-auto">
  <h2 class="text-center">Nhập mật khẩu email</h2>

  <% if (success.length) { %>
  <div class="alert alert-success"><%= success %></div>
  <% } %> <% if (error.length) { %>
  <div class="alert alert-danger"><%= error %></div>
  <% } %>
  <form action="" method="post">
    <div class="mb-3">
      <label for="">Email</label>
      <input
        type="email"
        name="email"
        placeholder="Email..."
        class="form-control mt-2"
      />
    </div>
    <button class="btn btn-primary">Gửi</button>
  </form>
</div>
