<% if (!link) { %>
<p class="text-danger">404 Khong tim thay noi dung</p>
<% } else { %> <% if (link.password && !isVerifiedPassword) { %>
<div>
  <h1>Vui lòng nhập mật khẩu để mở liên kết!</h1>
  <form action="" method="post">
    <input type="password" name="password" id="" placeholder="Mật khẩu" />
    <% if (error?.length) { %>
    <span><%= error %></span>
    <% } %>
    <button>MỞ liên kết</button>
  </form>
</div>
<%} else { %>
<a href="<%= link.originalLink %>">Nhấn vào đây để tiếp tục</a>
<button onclick="shareOnFacebook('<%= link.originalLink %>')">
  Chia se len facebook
</button>
<button id="showQRBtn" class="btn btn-primary" onclick="showQRCode()">
  Hiển thị mã QR
</button>
<div id="qrModal" class="modal" style="display: none">
  <div class="modal-content">
    <span class="close" onclick="closeQRModal()">&times;</span>
    <% if (qrCode?.length) { %>
    <img src="<%= qrCode %>" id="qrImage" alt="QR Code" style="width: 600px" />
    <% } %>
  </div>
</div>
<% } %> <% } %>

<script>
  function showQRCode() {
    document.getElementById("qrModal").style.display = "block";
    document.getElementById("showQRBtn").disabled = true; // Tùy chọn: Vô hiệu hóa nút sau khi hiển thị mã QR
  }

  function closeQRModal() {
    document.getElementById("qrModal").style.display = "none";
  }

  function shareOnFacebook(originalLink) {
    // Tạo URL chia sẻ Facebook với liên kết gốc
    const facebookShareUrl =
      "https://www.facebook.com/sharer/sharer.php?u=" +
      encodeURIComponent(originalLink);

    // Mở cửa sổ popup
    window.open(facebookShareUrl, "Share on Facebook", "width=600,height=400");
  }
</script>
