<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- <div class="d-flex justify-content-center g-col-6"> -->
    <h1><%= req?.session?.user?.name %></h1>

    <a href="/auth/logout" class="btn btn-primary">Đăng xuất</a>
    <a href="/auth/changePassword" class="btn btn-primary">Change Password</a>
    <a href="/infoBrowser" class="btn btn-primary">More info</a>
    <a href="/email/email" class="btn btn-primary">Gửi email</a>
    <!-- </div> -->
  </body>
</html>
