* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.container {
    width: 1100px;
    margin: 0 auto;
}

input[type="radio"] {
    display: none;
}
.best-seller__heading {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}
.list-of-product {
    text-align: center;
}
.list-of-product__product-name {
    display: inline-block;
    padding: 15px 20px;
    min-width: 120px;
    background: #f4f4f4;
    color: black;
}
.list-of-product__product-name:hover {
    cursor: pointer;
    background: #29388e;
    color: #ffffff;
}

/* ============================== checked ================================= */

.list-of-product__product-name:checked {
    background-color: #29388e;
    color: #ffffff;
}
.best-seller
    .product:nth-of-type(1):checked
    ~ .list-of-product
    .list-of-product__product-name:nth-of-type(1),
.best-seller
    .product:nth-of-type(2):checked
    ~ .list-of-product
    .list-of-product__product-name:nth-of-type(2),
.best-seller
    .product:nth-of-type(3):checked
    ~ .list-of-product
    .list-of-product__product-name:nth-of-type(3),
.best-seller
    .product:nth-of-type(4):checked
    ~ .list-of-product
    .list-of-product__product-name:nth-of-type(4),
.best-seller
    .product:nth-of-type(5):checked
    ~ .list-of-product
    .list-of-product__product-name:nth-of-type(5) {
    background-color: #29388e;
    color: #ffffff;
}
/* ============================== Product ================================= */

.best-seller .product-list {
    margin-top: 65px;
    display: flex;
    gap: 30px;
}
.best-seller .product-item {
    flex: 1;
    border: 1px solid #cccccc;
    border-radius: 18px;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.best-seller .product-item:hover {
    transform: scale(1.1);
}
.product-thumb {
    position: relative;
}
.product-thumb .product-img {
    height: 260px;
    width: 100%;
    object-fit: cover;
    border-radius: 18px;
}
.product-thumb .product-img:nth-of-type(2) {
    display: none;
}
.product-thumb:hover .product-img:nth-of-type(1) {
    display: none;
}
.product-thumb:hover .product-img:nth-of-type(2) {
    display: block;
}
.product-list .prodcut-info {
    padding: 20px 20px 15px;
}
/* ============================== Action-button ================================= */
.action-button {
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: ease-in-out 0.3s;
    visibility: hidden;
}
.action-button__above {
    display: flex;
    justify-content: space-between;
}
.action-button__above .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 30%;
    width: 25px;
    height: 25px;
    border: none;
    background-color: #29388e;
    height: 40px;
    border-radius: 2px;
}
.action-button__above .icon:hover {
    opacity: 0.9;
    cursor: pointer;
}
.action-button__above .icon img {
    width: 25px;
}
.action-button__above .icon:nth-child(2) {
    margin: 0 10px;
}
.action-button__below {
    margin-top: 10px;
}
.action-button__below .add-to-cart {
    border-radius: 2px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #29388e;
    color: #ffffff;
}
.action-button__below .add-to-cart:hover {
    opacity: 0.9;
    cursor: pointer;
}
/* ============================== Action-Hover-change ================================= */

.product-thumb:hover .action-button {
    visibility: visible;
}
/* ============================== Product-info ================================= */
.prodcut-info .product-quanlity {
    text-align: center;
}
.prodcut-info .product-quanlity:hover {
    cursor: pointer;
}
.prodcut-info .product-name {
    margin: 15px 0 10px;
    text-align: center;
}
.prodcut-info .product-price{
    display: block;
    text-align: center;
    font-weight: 900;
}
