<h1>Đăng nhập</h1>
<% if (userNotFound?.length) { %>
<div class="alert alert-danger mt-2"><%= userNotFound %></div>
<% } %>
<form class="mb-4" method="post">
  <div class="mb-4">
    <label for="email" class="mb-2">Email</label>
    <input
      type="text"
      name="email"
      id="email"
      class="form-control"
      placeholder="Your Email..."
    />
    <span class="mt-2 text-danger"> <%= req?.errors?.email %> </span>
  </div>
  <div class="mb-4">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      class="form-control"
      placeholder="Your Password..."
    />
    <span class="mt-2 text-danger"> <%= req?.errors?.password %> </span>
    <% if (passwordIncorrect?.length) { %>
    <div class="alert alert-danger mt-2"><%= passwordIncorrect %></div>
    <% } %>
  </div>
  <button class="btn btn-primary">Đăng nhập</button>
  <a href="/auth/resgister" class="btn btn-primary">Đăng ký</a>
</form>
